<p>sign-up works!</p>

<form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
  <div>
      Form submitted ? {{myForm.submitted}}
      Form valid ? {{myForm.valid}}
      Form invalid ? {{myForm.valid}}
    </div>
  <fieldset>
    <label for="lastname">Nom</label>
    <input
      id="lastname"
      name="lastname"
      type="text"
      [(ngModel)]="model.lastname"
      #lastname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
  </fieldset>

  <!-- Message d'erreurs de lastname -->
  <div *ngIf="lastname.errors">
    <span *ngIf="lastname.errors?.['required']">Le nom est requis</span>
    <span *ngIf="lastname.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 3</span
    >
    <span *ngIf="lastname.errors?.['maxlength']"
      >La longueur maximale doit être inférieure à 15</span
    >
  </div>

  <fieldset>
    <label for="firstname">Prénom</label>
    <input
      id="firtname"
      name="firstname"
      type="text"
      [(ngModel)]="model.firstname"
      #firstname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
  </fieldset>

  <!-- Message d'erreurs de firstname -->
  <div *ngIf="firstname.errors">
    <span *ngIf="firstname.errors?.['required']">Le titre est requis</span>
    <span *ngIf="firstname.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 3</span
    >
    <span *ngIf="firstname.errors?.['maxlength']"
      >La longueur maximale doit être inférieure à 15</span
    >
  </div>

  <fieldset>
    <label for="email">Email</label>
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="model.email"
      #email="ngModel"
      required
      email
    />
  </fieldset>

  <!-- Message d'erreurs de email -->
  <div *ngIf="email.errors">
    <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
    <span *ngIf="email.errors?.['email']"
      >L'adresse email doit être valide</span
    >
  </div>

  <fieldset>
    <label for="password">Mot de Passe</label>
    <input
      id="password"
      name="password"
      type="password"
      [(ngModel)]="model.password"
      #password="ngModel"
      required
    />
  </fieldset>

  <!-- Message d'erreurs de lastname -->
  <div *ngIf="password.errors">
    <span *ngIf="password.errors?.['required']">Le mot de passe est requis</span>
  </div>

  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
